<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.spring.naonnaP.GroundMapper">

   <resultMap type="GroundVO" id="peopleResultMap">
      <result property="ground_Name" column="GROUND_NAME"/>
      <result property="ground_admin" column="GROUND_ADMIN"/>
      <result property="ground_addr" column="GROUND_ADDR"/>
      <result property="grass" column="GRASS"/>
      <result property="shower" column="SHOWER"/>
      <result property="parking" column="PARKING"/>
      <result property="light" column="LIGHT"/>
      <result property="week_morning" column="WEEK_MORNING"/>
      <result property="week_evening" column="WEEK_EVENING"/>
      <result property="weekend_morning" column="WEEKEND_MORNING"/>
      <result property="weekend_evening" column="WEEKEND_EVENING"/>
      <result property="review" column="REVIEW"/>
      <result property="photo" column="PHOTH"/>
      <result property="rule" column="RULE"/>
      <result property="size" column="SIZE"/>
   </resultMap>
 
 	<!--  id는 Mapper.java(여기서 PeopleMapper.java)에 동일하게 사용해야된다.  -->
 <!--  
   

   <select id ="getPeopleList" resultMap="peopleResultMap">
      SELECT * FROM people order by id
   </select>
-->
   
   <!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래스명이나 별칭이 들어간다. -->
<!-- 
   <insert id="insertPeople" parameterType = "com.spring.springajax.PeopleVO">
      INSERT INTO  people VALUES
         (#{id, javaType=String},#{name, jdbcType=VARCHAR},#{job},#{address},#{bloodtype})   
    </insert>
 -->

</mapper>